/ChipWhisperer-Husky/src/.dep
/ChipWhisperer-Husky/src/.dep/
/ChipWhisperer-Husky/src/.dep/*
/ChipWhisperer-Husky/src/objdir/*
/ChipWhisperer-Husky/*.bin
*.hex
*.elf
*.eep
*.lss
*.map
*.sym
/ChipWhisperer-Husky/.hex
/ChipWhisperer-Husky/.elf
/ChipWhisperer-Husky/.eep
/ChipWhisperer-Husky/.lss
/ChipWhisperer-Husky/.bin
/ChipWhisperer-Husky/.map
/ChipWhisperer-Husky/.sym
/ChipWhisperer-Husky/.d
*.o
*.o.s
