/ChipWhisperer-Husky/src/.dep
/ChipWhisperer-Husky/src/.dep/
/ChipWhisperer-Husky/src/.dep/*
/ChipWhisperer-Husky/src/objdir/*
/ChipWhisperer-Husky/src/*.bin
*.hex
*.elf
*.eep
*.lss
*.map
*.sym
*.o
*.o.s
